@import "index.css";
#body{
	.span1{font-size:10px; width:10px; height:31px;}
	.banner{
		.item{text-align:center;}
		background:#fff;
		border-radius:10px; overflow:hidden;
		img{border-radius:10px; display:inline-block; overflow:hidden; max-width:100%;}
	} 
}