@import "index.css";
$c : #FF5E52;
#body{
	background:#F6F6F6;
	.span1{font-size:10px; width:10px; height:31px;}
	.banner{
		.item{text-align:center;}
		background:#fff;
		border-radius:10px; overflow:hidden;
		img{border-radius:10px; display:inline-block; overflow:hidden; max-width:100%;}
		margin-bottom:10px;
	} 
	.left1{
		.anniu{
			width:40px; height:80px; background:none; opacity:.5; filter:opacity(50);margin:auto 0; font:normal normal normal 14px/1 FontAwesome; display:inline-block; text-align:center;
			&:hover{
				background:#000;
				}
			.banner_dian{height:30px; width:10px;top:50%; margin-top:-15px; display:inline-block; font-size:30px; position:absolute;}

		}
		.zuixin h3{
			font-size:20px; line-height:1.1; color:inherit; font-family:inherit;color:#555555; margin:0;padding:0; margin-bottom:10px; 
		}
		.dux{
		 	border:1px solid #eaeaea;
		 	margin-bottom:15px;
			h2{font-size:18px;font-weight:bold; margin-top:0;}
			span{color:$c;}
			background:#fff;
			border-radius:5px;
			p{margin:0;padding:0; color:#666; text-indent:28px; font-size:14px;}
			padding:20px;
		}
		 //新闻版块
		.news{
			&:hover{border-color:#88D3F9; position:relative;}
			margin-bottom:-1px;
			padding:20px 20px 20px 250px;
			background:#fff;
			border:1px solid #eaeaea;
			.timers{
				time,span{margin-right:20px;}
			}
			p{
				color:#999;
				line-height:20px;
				margin:0 0 10px;
			}
			h2{
				font-size:18px;
				line-height:24px;
				a{color:#555;}
				font-weight:bold;
				margin-top:0;
				.tong_2:hover{color:#45BCF9;}
			}
			.tu{float:left; width:220px; height:150px; margin-left:-235px;  }
			.cat{
				position:relative;
				padding:3px 6px;
				font-size:12px;
				display:inline-block;
				margin-right:6px;
				top:-2px;
				background:#45BCF9;
				color:#fff;
				i{
					display:inline-block;
					border-left:4px solid #45BCF9;
					border-top:4px solid transparent;
					border-bottom:4px solid transparent;
					width:0;
					height:0;
					position:absolute;
					top:50%;
					margin-top:-4px;
					right:-4px;
				}
			}
		}
		.news_1{
			border-radius:4px 4px 0 0;
		}
		.news_2{
			border-radius:0 0 4px 4px;
		}
		.fenye{
			padding:20px; text-align:center; font-size:12px;
		}
	}
	
	.right1{
		.tui{float:left; width:100%;}
		.tuijian{
			width:328px;  
			
		}
		.tuijian_a{
			margin-bottom:15px;
			background:#fff;
			float:left; padding:0 15px 15px; border:1px solid #eaeaea; 
			border-radius:5px;
			&:hover{
				border:1px solid #FF5E52;

			}
		}
		.tuxue{background:#FF5E52; color:#fff; display:inline-block; padding:4px 15px; font-size:14px;}
		.dux{
			font-size:12px;

			h2{color:#FF5E52;margin-top:14px;}
			p{margin-bottom:0;color:#999;}
		} 
		.ad{
			float:left;
			width:100%;
			height:300px;
			background:#fff;
			padding: 0 0 0 11px;
			.ad_1{
				margin-right:11px;
				margin-top:11px;
				float:left;
				position:relative;
				.zhe{position:absolute; top:0px; left:0;}
				.meng{height:130px; width:160px; background:#000; opacity:.8; filter:alpha(opacity=80); position:absolute; top:0; left:0;z-index:4;}
				img{width:160px; height:130px; }
				.txt{height:130px; width:160px;position:absolute; top:0; left:0; z-index:7; color:#fff;
					p{text-align:center; }
				}
			}
			margin-bottom:15px;

		}
		.them{
			height:150px; width:360px; margin-bottom:15px; float:left;
		}
		.ad_yun{
			height:120px; margin-bottom:15px; float:left; width:100%; margin-bottom:15px;
		}
		.lead_web{
			float:left;
			height:495px; width:100%; background:#fff;
			color:#777;
			text-align:center;
			border:1px solid #eaeaea;
			.h3{
				font-size:18px; color:#666; border-bottom:1px solid #eaeaea; background-color:#fbfbfb; padding:11px 15px 10px;
			}
			.lii{
				float:left;
				width:50%;
				&:hover{background:#F9F9F9;}
				 padding:15px 15px 20px;
				h4{font-size:18px; margin-top:10px; margin-bottom:10px; font-weight:normal;}
				p{color:#bbb; height:36px; overflow:hidden;}
				.tijiao{font-size:12px;}
				border-bottom:1px dashed #ddd;
			}
			.li1,.li3{
				border-right:1px dashed #ddd;
			}
			.li5{
				width:100%;
				border:none;
			}
			margin-bottom:15px;
		}
		.biaoqian{
			background:#fff;
			width:100%;
			float:left;
			border:1px solid #eaeaea;
			overflow:hidden;
			h3{
				font-size:18px; color:#666; border-bottom:1px solid #eaeaea; background-color:#fbfbfb; padding:11px 15px 10px;
			}
			.biaoqian_a{
				width:100%;
				padding:15px 0 12px 15px;
				a{
					&:hover{background:#61B3E6; color:#fff;}
					background:#f6f6f6;
					width:31%;
					display:inline-block;
					padding:0 8px;
					font-size:12px;
					height:29px;
					line-height:29px;
					overflow:hidden;
					color:#999;
					margin:0 1% 1% 0;
				}
			}
		}
	}
}
.ding{background:#444444;}
.footer{
	background:#fff;
	text-align:center;
	padding:40px 30px;
	color:#999;
	line-height:12px;
	p{
		margin-bottom:10px;
	}
}